* {
    box-sizing: border-box;
    font-family: 'Overpass', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    color: white;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background-color: black;
    width: 100%;
    line-height: 1.5;
}

header {
    padding: 2rem;
}

h1 {
    font-family: 'Megrim', sans-serif;
    font-size: 4rem;
    font-weight: normal; 
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal; 
    text-align: center;
    padding-bottom: 3rem;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
}

sup{
    top: -0.4em;
}

sub { 
    top: 0.4em; 
}

fieldset {
    border: none;
    margin-top: 1rem;
};

.grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.grid-top {
    justify-items: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 5% 1fr 5% 1fr;
    grid-template-rows: 1fr;
    margin: 2rem;
}

.grid-bottom {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 5% 1fr 5% 1fr;
    grid-template-rows: 1fr;
    margin: 1rem 2rem;
}

.mass, .volume, .density {
    margin: 0 2.5rem;
}
