/* GENERAL *************************************************************************************************** */

* {
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    color: white;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: black;
    line-height: 1.5;
    padding: 1rem;
    width: 100%;
}

img {
    width: 100%;
}

/* TYPOGRAPHY ************************************************************************************************ */

h1 {
    font-family: 'Megrim', sans-serif;
    font-size: 4rem;
    font-weight: normal; 
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal; 
    text-align: center;
}

.formula-word {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.formula-symbol {
    font-size: 2.5rem;
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    h1 {
        font-size: calc(40px + (64 - 40) * (100vw - 600px) / 200);
    }

    h2 {
        font-size: calc(19.6px + (24 - 19.2) * (100vw - 600px) / 200);
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .formula-word  {
        font-size: calc(16px + (20.8 - 16) * (100vw - 300px) / 300);
        letter-spacing: calc(3.2px + (4.8 - 3.2) * (100vw - 600px) / 200);
    }

    .formula-symbol  {
        font-size: calc(16px + (40 - 16) * (100vw - 300px) / 300);
    }
}

@media only screen and (max-width: 300px) {
    .formula-word  {
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }

    .formula-symbol  {
        font-size: 1rem;
    }
}

sup, sub {
    position: relative;
    vertical-align: baseline;
}

sup{
    top: -0.4em;
}

sub { 
    top: 0.4em; 
}

.result {
    text-align: center;
}

.result-warning {
    padding: 1rem 0;
    height: 3.5rem;
}

.result-density {
    font-size: 2rem;
    padding: 3rem 0 1rem;
}

footer p {
    color: grey;
    font-size: 0.9rem;
    text-align: center;
    padding: 3rem 0;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .result-density {
        font-size: calc(24px + (32 - 24) * (100vw - 600px) / 400);
        padding-top: calc(16px + (48 - 16) * (100vw - 600px) / 400);
    }

    footer p {
        padding-bottom: calc(16px + (48 - 16) * (100vw - 600px) / 400);
    }
}

@media only screen and (max-width: 600px) {
    .result-density {
        font-size: 1.5rem;
        padding-top: 1rem;
    }
    
    footer p {
        padding-bottom: 1rem;
    }
}



/* SECTIONS ************************************************************************************************** */

header {
    background-image: url("../assets/galaxy.jpg");
    background-position: top;
    background-size: cover;
    padding: 1rem;
}

main {
    padding: 1rem 0;
}

.more-space {
    margin: 3rem 8rem;
}

.grid {
    display: grid;
    grid-auto-flow: column;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin: 4rem 0;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .more-space {
        margin-left: calc(128 * (100vw - 600px) / 400);
        margin-right: calc(128 * (100vw - 600px) / 400);
        margin-bottom: calc(16px + (48 - 16) * (100vw - 600px) / 400);
        margin-top: calc(16px + (48 - 16) * (100vw - 600px) / 400);
    }

    .grid {
        margin-bottom: calc(16px + (64 - 16) * (100vw - 600px) / 400);
        margin-top: calc(32px + (64 - 32) * (100vw - 600px) / 400);
    }
}

@media only screen and (max-width: 600px) {
    .more-space {
        margin: 1rem 0;
    }

    .grid {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
}

.grid-top {
    align-items: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 5% 1fr 5% 0.8fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.grid-bottom {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 1.5rem;
    grid-template-columns: 1fr 5% 1fr 5% 0.8fr;
    grid-template-rows: 1fr;
}

@media only screen and (max-width: 800px) {
    .grid-top {
        grid-template-columns: auto auto auto auto auto;
    }

    .grid-bottom {
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        grid-template-rows: auto 2rem auto 2rem auto;
    }
}

fieldset {
    border: none;
};