* {
    box-sizing: border-box;
    font-family: 'Overpass', serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    color: white;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background-color: black;
    width: 100%;
}

header {
    padding: 2rem;
}

h1 {
    font-family: 'Megrim', sans-serif;
    font-size: 4rem;
    font-weight: normal; 
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    font-weight: normal; 
    text-align: center;
    padding-bottom: 2rem;
}

fieldset {
    border: none;
};

.grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.grid-top {
    justify-items: center;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-rows: 1fr;
    margin: 1rem 2rem;
}

.grid-bottom {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 1rem 4rem;
}


@media only screen and (max-width: 800px) {
    main {

        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    
    .grid-top {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .grid-bottom {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
};